body {
    background-color: #808E38;
    color: white;
    font-family: "Gluten", cursive;

}

.App {
    display: flex;
    flex-direction: column;
}

.pageContent {
    display: flex;
    flex-direction: row;
}

button{
    font-family: "Gluten", cursive;

}